body {
    background-color: #2E4053;
    color: white;
}

.content {
    margin-right: 10%;
    margin-left: 10%;
}

.balloon.nes-container .messages {
    display: flex;
    flex-direction: column;
}

.balloon.nes-container .message.-left {
    align-self: flex-start;
}

.balloon.nes-container .message.-right {
    align-self: flex-end;
}

.balloon.nes-container .message {
    display: flex;
}

.balloon.nes-container .message * {
    align-self: flex-end;
}

.containers {
    display: flex;
}

.containers * {
    flex-grow: 1;
    flex-basis: 0;
}

h1, h2 {
    text-align: center;
}

h3 {
    margin-top: 10px;
    text-align: center;
}

.nes-table-responsive {
    display: flex;
    justify-content: center;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.balloon.nes-container .nes-balloon {
    max-width: 600px;
    margin: 2rem 2rem;
}

.message img {
    width: 64px;
    height: 64px;
}

.messages {
    color: black;
}

button {
    margin: 0 auto;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.header-title * {
    margin-bottom: 0px;
}

.nes-table {
    background-color: transparent;
}

.nes-container.with-title>.title {
    background-color: #2E4053;
    border-radius: 2px;
}

.culture {
    display: flex;
    justify-content: center;
}

.culture-text {
    text-align: center;
}

.culture-vulture-headline {
    text-align: center;
}

.culture-vulture-icons {
    text-align: center;
}

.monkey-dance {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}