body {
    background-color: #2E4053;
    color: white;
    text-align: center;
}

.content {
    margin-right: 10%;
    margin-left: 10%;
}

h3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.balloon.nes-container .messages {
    display: flex;
    flex-direction: column;
}

.balloon.nes-container .message.-left {
    align-self: flex-start;
}

.balloon.nes-container .message.-right {
    align-self: flex-end;
}

.balloon.nes-container .message {
    display: flex;
}

.balloon.nes-container .message * {
    align-self: flex-end;
}

.containers {
    display: flex;
}

@media only screen and (max-width: 600px) {
  .containers {
    display: block;
  }
}

.containers * {
    flex-grow: 1;
    flex-basis: 0;
}

.nes-table-responsive {
    display: flex;
    justify-content: center;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.balloon.nes-container .nes-balloon {
    margin: 2rem 2rem;
}

.message img {
    width: 42px;
    height: 42px;
}

.messages {
    color: black;
}

button {
    margin: 0 auto;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.header-title {
    margin-top: 10px;
}

.header-title * {
    margin-bottom: 0px;
}

.nes-table {
    background-color: transparent;
}

.nes-container.with-title>.title {
    background-color: #2E4053;
    border-radius: 2px;
}

.culture {
    display: flex;
    justify-content: center;
}

.monkey-dance {
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 970px) {
    .containers {
        display: block;
    }
    .message {
        font-size: 13px;
    }
    td {
        font-size: 10px;
    }
    .message img {
        width: 42px;
        height: 42px;
    }
    .organizations img {
        display: block;
        max-width:69px;
        max-height:17px;
        width: auto;
        height: auto;
        margin-right: 5px;
    }
}

.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

img {
    height: 30px;
}

.project-image {
    height: 100px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.organizations {
    display: flex;
    justify-content: space-around;   
}

.skills {
    display: flex;
    justify-content: space-evenly;   
}

.culture-vulture-icons {
    margin-top: 10px;
    margin-bottom: 10px;
}

#angellist {
    height: 32px;
    width: 24px;
    margin-top: -20px;
}