body {
    background-color: #2E4053;
    color: white;
    text-align: center;
}

@font-face {
    font-family: 'redalert' ;
    src: url('./fonts/C&C Red Alert [INET].ttf') format('truetype');
}

p {
    font-family: 'redalert';
    font-size: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

.kangaroo h2 {
    margin-bottom: 0;
}

.content {
    margin-right: 10%;
    margin-left: 10%;
}

h3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.balloon.nes-container .messages {
    display: flex;
    flex-direction: column;
}

.balloon.nes-container .message.-left {
    align-self: flex-start;
}

.balloon.nes-container .message.-right {
    align-self: flex-end;
}

.balloon.nes-container .message {
    display: flex;
}

.balloon.nes-container .message * {
    align-self: flex-end;
}

.containers {
    display: flex;
}

@media only screen and (max-width: 600px) {
  .containers {
    display: block;
  }
}

.containers * {
    flex-grow: 1;
    flex-basis: 0;
}

.nes-table-responsive {
    display: flex;
    justify-content: center;
}

a {
    color: white;
}

a:hover {
    color: white;
    text-decoration: none;
}

.balloon.nes-container .nes-balloon {
    margin: 2rem 2rem;
}

.message img {
    width: 42px;
    height: 42px;
}

.messages {
    color: black;
}

button {
    margin: 0 auto;
}

.center-horizontally {
    display: flex;
    justify-content: center;
}

.header-title {
    margin-top: 10px;
}

.header-title * {
    margin-bottom: 0px;
}

.nes-table {
    background-color: transparent;
}

.nes-container.with-title>.title {
    background-color: #2E4053;
    border-radius: 2px;
}

.culture {
    display: flex;
    justify-content: center;
}

.monkey-dance {
    margin-top: 20px;
    margin-bottom: 20px;
}

.reverse {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

img {
    height: 30px;
}

.project-image {
    height: 100px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.project-image-todo {
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.organizations {
    display: flex;
    justify-content: space-around;   
}

.skills {
    display: flex;
    justify-content: space-evenly;   
}

.culture-vulture-icons {
    margin-top: 10px;
    margin-bottom: 10px;
}

#angellist {
    height: 32px;
    width: 24px;
    margin-top: -20px;
}

.kangaroo {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background-color: #2E4053;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.nes-container {
    position: relative;
    padding: .75rem 1rem;
}

.profile-pic-transparent {
    height: 150px;
}

.left-aroo {
    position: absolute;
    margin-top: -32px;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 64px;

    z-index: 1001;
}

.right-aroo {
    position: absolute;
    margin-top: -32px;

    margin-left: auto;
    margin-right: auto;
    left: 64px;
    right: 0;

    z-index: 1001;
}

.nes-container img {
    margin: 5px;
}

.panorama {
    width: 95%;
    height: 200px;
    border-radius: 3px;
}

.pnlm-container {
    margin: 5px auto;
}

@media only screen and (max-width: 970px) {
    .containers {
        display: block;
    }
    .message {
        font-size: 13px;
    }
    td {
        font-size: 10px;
    }
    .message img {
        width: 42px;
        height: 42px;
    }
    
    .skills {
        display: block;
    }

    .organizations {
        display: block;
    }
}